@font-face {
    font-family: iranBold;
    src: url(Fonts/woff/iranyekanwebbold.woff);
}
@font-face {
    font-family: iranExtraBold;
    src: url(Fonts/woff/iranyekanwebextrabold.woff);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iranBold;
}
body {
    background-color: black;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.logo {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
    
}
.navbar2 {
    display: flex;
    background-color: #58BA47;
    height: 55px;
    width: 100%;
    border-bottom: 0.5px solid black;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow-wrap: normal;
    overflow-x: auto;
    direction: rtl;
}
.navbar2::-webkit-scrollbar {
    display: none;
}
.n1 ,.n2 ,.n3 ,.n4 , .n5 , .n6 ,.n7 {
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.nt1 , .nt2, .nt3, .nt4 , .nt5 , .nt6 , .nt7 {
    width: max-content;
    font-size: 13px;
}
.nt1 {
    color: white;
}
.tv-button {
    background-color: white;
    padding: 5px 10px;
    display: inline;
    border-radius: 50px;
    border: 0.5px solid black;
}
.button1 {
    font-size: 12px;
    text-decoration: none;
    color: black;
    position: relative;
    bottom: 50px;
    left: 20px;
}
.h1 {
    color: #58BA47;
    direction: rtl;
    padding-right: 20px;
    font-size: 22px;
    font-family: iranExtraBold;
}
